li {
  list-style: none;
  font-size: large;
  padding-right: 30px;
  display: inline-block;
  text-decoration: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  color: rgb(221, 57, 65);
}
