.App {
  text-align: center;
}

.input-area {
  width: 180px;
  margin-right: 20px;
  border-radius: 4px;
  padding: 5px 0px 5px 5px;
}

form {
  margin-top: 15px;
  margin-bottom: 15px;
}

li {
  list-style: none;
  font-size: large;
  padding-right: 30px;
  display: inline-block;
  text-decoration: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  color: rgb(221, 57, 65);
}
